*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
  margin-right:1.5rem;
  font-size: 1.2rem;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: blue;
}

.link-container a:hover,
.cart:hover{
  color: blue;
  border-color: blue;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 2200px;
  margin: auto;
}

.cart{
  border: 1px solid black;
  padding: 1.3rem;
  border-radius: 50%;
  position: relative;
}

.item-number{
  font-size: 0.9rem;
  position: absolute;
  border: 1px solid red;
  border-radius: 1rem;
  padding: .2rem;
  background: red;
  top: 5.5px;
  right: 16px;
  
}